# Python
__pycache__/

# Virtual Environment
.venv
venv

# IDE
.vscode/
.idea/

# YAML files (user-generated configs)
*.yaml
*.yml

# JSON files (user-generated configs)
*.json
!examples/*.json
*.pdf
.json

# Testing
.pytest_cache/
.coverage